<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
<br>
<p><%= @article.content %></p>

<%= link_to "Modifie this article", edit_article_path %>
<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
